{% extends "layout.html" %}

{% block main %}

    <form name="frm" action="/appointment" method="post" class="needs-validation" novalidate>

        <!--<img src="~/project/templates/redcross.jpg" alt="Red Cross">-->
        <h2>Information about you</h2>
        <div class="form-row">
            <div class="col mb-2">
                <label for="inputName4">Name</label>
                <input autofocus autocomplete="off" class="form-control" name="name" placeholder="First name" type="text" required>
            </div>
            <div class="col mb-2">
                <label for="inputLastname4">Last Name</label>
                <input class="form-control" autocomplete="off" name="lastname" placeholder="Last name" type="text" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="inputAge4">Age</label>
                <select id="age" name="age" class="form-control" required>
                    <option disabled selected value="">Your full age</option>
                </select>
            </div>
            <div class="col mb-2">
                <label for="inputDateofBirth">Date of Birth</label>
                <input class="form-control" id="dateofbirth" autocomplete="off" name="dateofbirth" type="date" min='1870-01-01' max='2019-11-24' required>
            </div>
            <div class="col mb-2">
                <label for="inputName4">Policy number</label>
                <input autofocus autocomplete="off" class="form-control" name="policynumber" placeholder="16 numbers" minlength="16" maxlength="16" type="tel" required>
            </div>
        </div>

        <h2>Your appointment</h2>
        <div class="form-row">
            <div class="col mb-2">
                <label for="inputState">Choose a Doctor</label>
                <select id="inputState" class="form-control" name="doctor" required>
                    <option value="" selected disabled>Choose a doctor</option>
                    <option value="pediatrician">Pediatrician</option>
                    <option value="surgeon">Surgeon</option>
                    <option value="dermatologist">Dermatologist</option>
                    <option value="dentist">Dentist</option>
                    <option value="psychiatrist">Psychiatrist</option>
                    <option value="endocrinologist">Endocrinologist</option>
                    <option value="allergist">Allergist</option>
                </select>
            </div>
            <div class=" mb-1">
                <label for="inputDateTime">Chose appointment date and time</label>
                <input class="form-control" id="apptdatetime" name="apptdatetime" type="datetime-local" step="900" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col mb-2">
                <label for="inputEmail4">Enter your Email</label>
                <input class="form-control" autocomplete="off" id="email" type="email" name="email" placeholder="Email" required>
            </div>
        </div>

        <button class="btn btn-primary" id="button" type="submit">Submit</button>

    </form>

    <script>

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd;
        }
        if(mm<10){
            mm='0'+mm;
        }

        today = yyyy+'-'+mm+'-'+dd;
        //document.getElementById("apptdatetime").setAttribute("min", today);
        document.getElementById("dateofbirth").setAttribute("max", today);

        $(function(){
            var $select = $("#age");
            for (i=0;i<=149;i++){
                $select.append($('<option></option>').val(i).html(i));
            }
        });
        (function() {
          'use strict';
          window.addEventListener('load', function() {

            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>

{% endblock %}