{% extends "layout.html" %}

{% block main %}

        <div class="under-box" style="position: absolute; top:135px; left:395px;"></div>
        <div class="flip-box" style="top: 150px; left: 410px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side1
                </div>
                <div class="flip-box-back">
                    back side1
                </div>
            </div>
        </div>

        <div class="under-box" style="position: absolute; top:135px; left:795px;"></div>
        <div class="flip-box" style="top: 150px;left: 810px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side2
                </div>
                <div class="flip-box-back">
                    back side2
                </div>
            </div>
        </div>

        <div class="under-box" style="position: absolute; top:135px; left:1195px;"></div>
        <div class="flip-box" style="top:150px; left:1210px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side3
                </div>
                <div class="flip-box-back">
                    back side3
                </div>
            </div>
        </div>

        <div class="under-box" style="position: absolute; top:435px; left:395px;"></div>
        <div class="flip-box" style="top:450px; left:410px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side4
                </div>
                <div class="flip-box-back">
                    back side4
                </div>
            </div>
        </div>

        <div class="under-box" style="position: absolute; top:435px; left:795px;"></div>
        <div class="flip-box" style="top:450px; left:810px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side5
                </div>
                <div class="flip-box-back">
                    back side5
                </div>
            </div>
        </div>

        <div class="under-box" style="position: absolute; top:435px; left:1195px;"></div>
        <div class="flip-box" style="top:450px; left:1210px;">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    front side6
                </div>
                <div class="flip-box-back">
                    back side6
                </div>
            </div>
        </div>

{% endblock %}